@model Clinica.Models.Paciente

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body class="bg-gradient-primary">
    <center>


        <div class="container">

            <div class="">
                <div class="">
                    <!-- Nested Row within Card Body -->


                    <div class="row">
                        <div class="col-lg-5 d-none  bg-light"> </div>
                        <div class="col-lg-10">
                            <div class="p-5">
                                <div class="text-center">
                                    <div class="card-body">

                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <h1 class="h4 text-gray-900 mb-4">Historial Paciente</h1>
                                                    <hr />

                                                    <form method="POST" action="@Url.Action("Index", "Pacientes")" class="user">
                                                        <div>
                                                            <div class="form-group row">








                                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                                                                    <h1 class="h4 text-gray-900 mb-4">Boletas del Paciente</h1>
                                                                    <tr>

                                                                        <th>Numero de Boleta</th>
                                                                        <th>Odontologo</th>
                                                                        <th>Valor</th>
                                                                        <th>Fecha</th>

                                                                    </tr>



                                                                    @foreach (Clinica.Models.Boleta boleta in ViewBag.boletas)
                                                                    {
                                                                        <tr>
                                                                            <td>@boleta.NB</td>
                                                                            <td>@boleta.IdOdontologo</td>
                                                                            <td>@boleta.Valor</td>
                                                                            <td>@boleta.Fecha</td>

                                                                        </tr>

                                                                    }




                                                            </div>
                                                </table>
                                                <br />  <br />
                                                <hr />
                                                <br />
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                                                    <h1 class="h4 text-gray-900 mb-4">Tratamientos del Paciente</h1>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Doctor</th>
                                                        <th>Fecha</th>

                                                    </tr>



                                                    @foreach (Clinica.Models.Tratamiento tratamiento in ViewBag.tratamientos)
                                                    {
                                                        <tr>
                                                            <td>@tratamiento.Nombres</td>
                                                            <td>@tratamiento.IdOdontologo</td>
                                                            <td>@tratamiento.FechaCreacion</td>

                                                        </tr>

                                                    }



                                            </div>
                                            </table>
                                            <br /><br />
                                            <hr />
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                                <br />

                                                <h1 class="h4 text-gray-900 mb-4">Citas del Paciente</h1>
                                                <tr>

                                                    <th>Motivo</th>
                                                    <th>Doctor</th>

                                                    <th>Fecha</th>

                                                </tr>



                                                @foreach (Clinica.Models.Cita cita in ViewBag.citas)
                                                {
                                                    <tr>
                                                        <td>@cita.Motivo</td>
                                                        <td>@cita.IdOdontologo</td>

                                                        <td>@cita.Fecha</td>

                                                    </tr>

                                                }

                                        </div>
                                        </table>

                                    </div>
                                    </table>
                                    <br />
                                    <center>
                                        <button type="submit" class="btn btn-primary">Volver</button>

                                    </center>
                                    <br /><br />

                                    </form>

                                    </table>

                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
